---
import Layout from '../layouts/Layout.astro';
import Carousell, { CarousellItem } from '../components/Carousell';
import Hero from '../components/Hero.astro';
import Cards from '../components/Cards.astro';
import Contacts from '../components/Contacts.astro';

// TODO: focus стили для нормального управления tab-ами
// TODO: screen-reader friendly
const firstCollection: CarousellItem[] = [
	{
		title: 'Горизонтальные жалюзи кассетного типа для пластиковых окон «Изотра»'
	},
	{
		imageSource: '/izotra-1.jpg',
		title: 'Фиксация по всей высоте окна, защита от сквозняков и удобное проветривание'
	},
	{
		imageSource: '/izotra-2.jpg',
		title: 'Монтаж вплотную к окну, дополнительное удобство доступа к ручке'
	},
	{
		imageSource: '/izotra-3.jpg',
		title: 'Плоский верхний карниз позволяет открывать створку на всю ширину'
	},
	{
		imageSource: '/izotra-4.jpg',
		title: 'Современная модель горизонтальных жалюзи с удобным управлением цепочкой, защитой от повреждения пластиковых откосов окна'
	},
];

const secondCollection: CarousellItem[] = [
	{
		title: 'Рулонные шторы кассетного типа «УНИ 2»'
	},
	{
		imageSource: '/uni-1.jpg',
		title: 'Декоративный защитный короб с направляющими создают единую с окном дизайн-конструкцию'
	},
	{
		imageSource: '/uni-2.jpg',
	},
	{
		imageSource: '/uni-4.jpg',
		title: 'Цветовые решения в четырех вариантах'
	},
	{
		imageSource: '/uni-5.jpg',
	},
	{
		imageSource: '/uni-6.jpg',
	},
	{
		imageSource: '/uni-3.jpg',
		title: 'Огромный выбор тканей'
	},
];
---

<Layout title="Современные Солнцезащитные Системы">
	<main class="w-screen min-h-screen flex flex-col gap-20 justify-center items-center pb-20">
		<Hero />
		<Cards />
		<div class="flex flex-col w-full">
			<Carousell
				items={firstCollection}
				autoscrollIntervalMs={7500}
				client:load
			></Carousell>
			<Carousell
				items={secondCollection}
				autoscrollIntervalMs={7500}
				client:load
			></Carousell>
		</div>
		<Contacts />
	</main>
</Layout>
