---
import Layout from '../layouts/Layout.astro';
import Carousell, { CarousellItem } from '../components/Carousell';
import Hero from '../components/Hero.astro';
import Cards from '../components/Cards.astro';
import Contacts from '../components/Contacts.astro';

// TODO: Mobile layout
// TODO: focus стили для нормального управления tab-ами
// TODO: screen-reader friendly
// TODO: Вставить реальные картинки
const items: CarousellItem[] = [
	{
		imageSource: '/kt.jpg',
		title: 'Декоративный защитный короб с направляющими создают единую с окном дизайн-конструкцию'
	},
	{
		title: "Это еще одна карточка, но в этот раз без картинки, а всего лишь с текстом"
	},
	{
		title: "Это еще одна карточка, но в этот раз без картинки, а всего лишь с текстом"
	},
]
---

<Layout title="Современные Солнцезащитные Системы">
	<main class="w-full min-h-screen flex flex-col gap-20 justify-center items-center pb-20">
		<Hero />
		<Cards />
		<Carousell items={items} autoscrollIntervalMs={7500} client:load></Carousell>
		<Contacts />
	</main>
</Layout>
