---
import Layout from '../layouts/Layout.astro';
import Carousell, { CarousellItem } from '../components/Carousell';
import Hero from '../components/Hero.astro';
import Cards from '../components/Cards.astro';
import Contacts from '../components/Contacts.astro';

// TODO: focus стили для нормального управления tab-ами
// TODO: screen-reader friendly
// TODO: Вставить реальные картинки
const firstCollection: CarousellItem[] = [
	{
		imageSource: '/kt.jpg',
		title: 'Декоративный защитный короб с направляющими создают единую с окном дизайн-конструкцию'
	},
	{
		title: "Это еще одна карточка, но в этот раз без картинки, а всего лишь с текстом"
	},
	{
		title: "Это еще одна карточка, но в этот раз без картинки, а всего лишь с текстом"
	},
]
const secondCollection: CarousellItem[] = [
	// {
	// 	title: "Это еще одна карточка, но в этот раз без картинки, а всего лишь с текстом"
	// },
	// {
	// 	title: "Это еще одна карточка, но в этот раз без картинки, а всего лишь с текстом"
	// },
	{
		imageSource: '/kt.jpg',
		title: 'Декоративный защитный короб с направляющими создают единую с окном дизайн-конструкцию'
	},
];
---

<Layout title="Современные Солнцезащитные Системы">
	<main class="w-screen min-h-screen flex flex-col gap-20 justify-center items-center pb-20">
		<Hero />
		<Cards />
		<div class="flex flex-col w-full">
			<Carousell
				items={firstCollection}
				autoscrollIntervalMs={7500}
				header="Горизонтальные жалюзи кассетного типа для пластиковых окон «Изотра»"
				client:load
			></Carousell>
			<Carousell
				items={secondCollection}
				autoscrollIntervalMs={7500}
				header="Рулонные шторы кассетного типа «УНИ 2»"
				client:load
			></Carousell>
		</div>
		<Contacts />
	</main>
</Layout>
