---
interface Props {
    label: string;
    appearFrom: 'right' | 'left' | 'top';
}

const { label, appearFrom } = Astro.props;

const classForAppearanceTransition = {
    right: 'translate-x-5',
    left: '-translate-x-5',
    top: '-translate-y-5'
}[appearFrom];
---

<script>
    const options: IntersectionObserverInit = {
        rootMargin: '0px',
        threshold: 1.0
    };
    const callback: IntersectionObserverCallback = (entries, observer) => {
        for (const entry of entries) {
            if (!entry.isIntersecting) continue;
            const target = entry.target;
            target.classList.add('opacity-100', '!translate-x-0', '!translate-y-0');
            observer.unobserve(target);
        }
    };
    const observer = new IntersectionObserver(callback, options);

    const elements = document.querySelectorAll('.card-item');

    for (const element of elements) {
        observer.observe(element);
    }

    for (let i = 0; i < elements.length; i ++) {
        const element = elements[i]!;
        if (typeof element.scrollIntoView !== 'undefined') {
            // This doesn't make any sense in a vacuum, but when it comes to actual page layout
            // scrolling the element itself into view basically scrolls the view down enough
            // to make it seem like it goes to the next card
            element.addEventListener('click', () => {
                element.scrollIntoView({
                    block: 'start',
                    behavior: 'smooth'
                })
            })
        }
    }
</script>

<div class={`card-item flex flex-col items-center gap-6 opacity-0 ${classForAppearanceTransition} transition-all duration-500`}>
    <slot/>
    <span set:html={label} class="text-xl lg:text-2xl text-center" />
</div>