---
import ContactItem from "./ContactItem.astro";
import Email from "./icons/Email.astro";
import Phone from "./icons/Phone.astro";
import Telegram from "./icons/Telegram.astro";
import WhatsApp from "./icons/WhatsApp.astro";

---

<!-- TODO: Color change on hover -->
<div id="contacts" class="flex flex-col gap-3 items-start">
    <ContactItem href="https://t.me/Kirill_464" label="@Kirill_464"><Telegram/></ContactItem>
    <ContactItem href="tel:898212345678" label="8 982 1234 56 78"><Phone/></ContactItem>
    <ContactItem href="tel:898287654321" label="8 982 8765 43 21"><WhatsApp/></ContactItem>
    <ContactItem href="mailto:kirill003@yandex.ru" label="kirill003@yandex.ru"><Email/></ContactItem>
</div>